@import 'variables';
@import 'mixins';

.x-hellosign-embedded {
  height: 100%;

  &--in-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    // Default z-index. This can be overridden by extending
    // this class in your own sylesheet.
    z-index: 9997;
  }
}

.x-hellosign-embedded__modal-screen {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  @include mobile {
    display: none;
  }
}

.x-hellosign-embedded__modal-content {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  height: 90vh;
  min-height: 400px;
  width: 80vw;
  min-width: 512px;
  max-width: 1024px;

  @include mobile {
    overflow: hidden;
    box-shadow: none;
    height: 100%;
    min-height: 0;
    width: 100%;
    min-width: 0;
    transform: none;
    left: 0;
    top: 0;
  }
}

.x-hellosign-embedded__modal-close {
  position: absolute;
  top: 0;
  right: -60px;
  height: 40px;
  width: 40px;

  @include mobile() {
    display: none;
  }
}

.x-hellosign-embedded__modal-close-button {
  -webkit-appearance: none;
  height: 100%;
  width: 100%;
  border: none;
  background-color: $hellosign-castle-rock;
  transition: background-color 0.35s ease;
  will-change: background-color;
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  padding: 20px;

  &:hover {
    background-color: $hellosign-ashen;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: white;
    height: 20px;
    top: 10px;
  }

  // Bottom-left to top-right white line.
  &::before {
    transform: rotateZ(45deg);
  }

  // Top-left to bottom-right white line.
  &::after {
    transform: rotateZ(-45deg);
  }
}

.x-hellosign-embedded__iframe {
  min-height: 400px;
  background-color: $hellosign-plume;
  height: 100%;
  border: none;

  // Fix 100% width iFrame on iOS.
  // https://stackoverflow.com/a/20142280
  min-width: 100%;
  width: 100px;
  *width: 100%;
}
